/* #upImg{
    width:100%;

} */
.App{
    background:url('./utils/code.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    overflow:auto;
}
#addPic{
    margin-top:1em;
    width:100%;
    color:#b4c1ca;
    border-radius: 37px;
    background: #2d2ba0;
    box-shadow: inset 7px 7px 13px #242526, 
                inset -7px -7px 13px #303334;
}
.card{
    margin-top:15%;
    padding:1.5em;
    padding-top:10%;
    /* width:100%; */
    border-radius: 37px;
    background: #b4c1ca;
    box-shadow: inset 7px 7px 13px #242526, 
                inset -7px -7px 13px #303334;
}
#imgI{
    background:#2a2c2d;
    color:#b4c1ca;
}
.cImg{
    width:100%;
}
#upImg{
    width:100%;
}
.screen{
    background: #b4c1ca
}
#title{
    margin-bottom: 1em;
}
#tRow{
    border-bottom: 2px solid #2a2c2d;
    margin-bottom:1em;
}
.cRow{
    border: 1px solid #2a2c2d;
    margin-bottom:1em;
    background-color:#e2edf5 ;
    color:#2a2c2d;
}
.delete-btn {
    font-weight:800;
    height:2em;
    width:2em;
    background: #e74944;
    color: #b4c1ca;
  }
#caption{
    border-radius:bottom 8px;
}
.space{
    margin-top: 15vh;
}
#logo{
    color: #b4c1ca;
    background:#2a2c2d;
    font-weight: 700;
    position: fixed;
    top:0;
    width: 100vw;
    z-index: 1000;

}
.gallery{
    margin-top:3em;
}
#upForm{
    background:#b4c1ca;
    align-content: center;
}
#upload{
    margin-top:1em;
    margin-bottom:5vh;
    width:100%;
    border-radius: 8px;
    color:#b4c1ca;
    background: #2d2ba0;
    box-shadow: inset 7px 7px 13px #242526, 
                inset -7px -7px 13px #303334;
}